.buttonClass {
  font-weight: 600;
  font-size: 1rem;
  color: var(--color-primary);
  border-radius: 60px;
  padding: 0.6rem 1rem;
  transition: all 0.2s ease;
  display: flex;
  align-items: center;
  border: 2px solid transparent;
  cursor: pointer;
  height: max-content;
  width: max-content;
}

.primaryBtn {
  background-color: var(--color-primary);
  color: #ffffff;
  box-shadow: var(--box-shadow-2);
}
.primaryBtn:hover {
  background-color: var(--color-primary-dark);
}

.secondaryBtn {
  background-color: #ffffff;
  border-color: var(--color-primary);
  color: var(--color-primary);
}
.secondaryBtn:hover {
  background-color: var(--color-primary);
  color: #ffffff;
  box-shadow: var(--box-shadow-2);
}

.text {
  margin: 0 5px;
}
