:root {
  /* Colors */
  --color-primary: #90cf8e;
  --color-primary-light: #a7dca5;
  --color-primary-lighter: #c6edc3;
  --color-primary-lightest: #f8f9fb;
  --color-primary-grey: #daf2d7;

  --color-grey: #f3f5f7;
  --color-secondary: #e7e5d8;
  --color-secondary-light: #f5f5ed;

  /* box-shadows */
  --box-shadow-1: 2px 2px 13px rgb(0 0 0 / 10%);
  --box-shadow-2: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
  --box-shadow-3: rgb(32 101 209 / 24%) 0px 8px 16px 0px;

  /* Fonts */
  --font-family-1: "Poppins", sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
